body {
    width: 100vw;
    height: 100vh;
    background-image: url("images/gaming.jpg");
    background-repeat: no-repeat;
    margin: 0;
    background-size: cover;
    background-position: center;
}

header {
    height: 20vh;
    background-color: rgba(255, 255, 255, .9);
    border-radius: 1em;
}
.gameboard {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}
.welcome {
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(2px 4px 6px black);
}
.welcome h1 {
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: teal;
}
.welcome span {
    letter-spacing: .5em;
    font-size: x-large;
    font-style: italic;
}
.button {
    border: .1em solid black;
    border-radius: 1em;
    font-family: monospace;
    padding: .5em 2em;
    font-size: 4em;
    position: absolute;
    z-index: 2;
    
}
#colorsTable {
    width: 70vh;
    height: 60vh;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
    display: none;
}
.color {
    width: calc(100% / 2);
    height: calc(100% /2);
    display: inline-block;
    
}
/* calc(100% / 6) */
.red {
    background: red;
}

.purple {
    background: purple;
}
.dark-blue {
    background: darkblue;
}
.green {
    background: darkgreen;
}
.violet {
    background: rgb(77, 3, 48);
}
.light-blue {
    background: lightblue;
}
.left {
    float: left;
}
.right {
    float: right;
}
.hide {
    display: none;
    /* transition-timing-function: ease;
    transition-duration: 1s; */
}